# Virtual environment
venv/
env/
.venv/

# Flask instance folder
instance/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables / secrets
.env

# Databases
*.db
*.sqlite3

# VS Code settings
.vscode/